<!DOCTYPE html>
<!-- SPDX-License-Identifier: MIT -->
<!-- Copyright © 2023 André Santos -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />-->
    <title>HAROSviz</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <main id="app">
      <dashboard-header @change-route="onRouteChanged"></dashboard-header>
      <setup-component v-if="isSetupState" :title="title" :text="text"></setup-component>
      <p>Dashboard panel that shows Issue summary (total, #source, #runtime); links to issues page.</p>
      <p>Dashboard panel that shows Source summary (#packages, #files, #nodes); links to source page.</p>
      <p>Dashboard panel that shows Runtime summary (#launch models); links to runtime page.</p>
      <p>Bar or Line Chart that displays issues over time.</p>
      <p>Use Vue's
        <code>&lt;component :is="currentTab"&gt;</code>
        (name string of a registered component) to change between tabs/pages.
        The component will be unmounted when it is switched away from.
        We can force the inactive components to stay "alive" with the built-in
        <a href="https://vuejs.org/guide/built-ins/keep-alive.html" target="_blank">
          <code>&lt;KeepAlive&gt;</code> component
        </a>.
      </p>
      <p>Do routing on top-level elements with
        <pre>
    mounted() {
      window.addEventListener('hashchange', () => {
        this.currentPath = window.location.hash
      })
    }
        </pre>
      </p>
      <p>For more complex routing see <a href="https://github.com/vuejs/router" target="_blank">the Vue Routing library</a>.</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </main>

<!----------------------------------------------------------------------------->
<!-- Header -->
<!----------------------------------------------------------------------------->

    <template id="vue-dashboard-header">
      <header class="top-bar bg-solid">
        <nav class="menu">
          <h1>HAROSviz</h1>
          <ul>
            <li
              v-for="link in links"
              class="menu-item bg-soft clickable"
              @click.prevent.stop="onMenuButtonClicked(link.route)"
            >
              {{ link.text }}
            </li>
          </ul>
        </nav>
        <nav class="crumbs">
          <ol>
            <li class="crumb"><a href="#">Bikes</a></li>
            <li class="crumb"><a href="#">BMX</a></li>
            <li class="crumb">Jump Bike 3000</li>
          </ol>
        </nav>
      </header>
    </template>

<!----------------------------------------------------------------------------->
<!-- Template -->
<!----------------------------------------------------------------------------->

    <template id="vue-setup-component">
      <h1>{{ title }}</h1>
      <div>
        <p>{{ text }}</p>
      </div>
    </template>

<!----------------------------------------------------------------------------->
<!-- Scripts -->
<!----------------------------------------------------------------------------->

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="js/components/ui.js"></script>
    <script src="js/components/header.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
