<!DOCTYPE html>
<!-- SPDX-License-Identifier: MIT -->
<!-- Copyright © 2023 André Santos -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />-->
    <title>HAROSviz</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <main id="app">
      <dashboard-header :crumbs="crumbs"></dashboard-header>
      <component :is="currentPage" :title="title" :text="text"></component>
      <p>Use Vue's
        <code>&lt;component :is="currentTab"&gt;</code>
        (name string of a registered component) to change between tabs/pages.
        The component will be unmounted when it is switched away from.
        We can force the inactive components to stay "alive" with the built-in
        <a href="https://vuejs.org/guide/built-ins/keep-alive.html" target="_blank">
          <code>&lt;KeepAlive&gt;</code> component
        </a>.
      </p>
      <p>Do routing on top-level elements with
        <pre>
          mounted() {
            window.addEventListener('hashchange', () => {
              this.currentPath = window.location.hash
            })
          }
        </pre>
      </p>
      <p>For more complex routing see <a href="https://github.com/vuejs/router" target="_blank">the Vue Routing library</a>.</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </main>


<!----------------------------------------------------------------------------->
<!-- Header -->
<!----------------------------------------------------------------------------->

    <template id="vue-dashboard-header">
      <header class="top-bar bg-solid">
        <nav class="menu">
          <h1>HAROSviz</h1>
          <ul>
            <li
              v-for="link in links"
              class="menu-item bg-soft"
            >
            <!-- @click.prevent.stop="onMenuButtonClicked(link.route)" -->
              <a :href="link.route">{{ link.text }}</a>
            </li>
          </ul>
        </nav>
        <nav class="crumbs">
          <ol>
            <li v-for="(crumb, index) in crumbs" class="crumb">
              <a v-if="index < crumbs.length - 1" :href="crumb.href">
                {{ crumb.name }}
              </a>
              <template v-else>
                {{ crumb.name }}
              </template>
            </li>
          </ol>
        </nav>
      </header>
    </template>


<!----------------------------------------------------------------------------->
<!-- Dashboard -->
<!----------------------------------------------------------------------------->

    <template id="vue-info-panel">
      <div class="panel stats bg-dynamic">
        <h3>{{ title }}</h3>
        <ul>
          <li v-for="item in items">
            <span class="number-badge">
              {{ item.quantity }}
            </span>
            <span :class="item.style || ''">
              {{ item.name }}
            </span>
          </li>
        </ul>
      </div>
    </template>


    <template id="vue-dashboard-page">
      <section class="content">
        <h1>Dashboard - {{ title }}</h1>
        <div class="panel-container">
          <a href="#issues">
            <info-panel title="Issues" :items="issues"></info-panel>
          </a>
          <a href="#source">
            <info-panel title="Source" :items="source"></info-panel>
          </a>
          <a href="#nodes">
            <info-panel title="Nodes" :items="nodes"></info-panel>
          </a>
          <a href="#runtime">
            <info-panel title="Runtime" :items="runtime"></info-panel>
          </a>
          <div class="panel large bg-mute">
            <p>{{ text }}</p>
            <p>Bar or Line Chart that displays issues over time.</p>
          </div>
          <div class="panel large bg-mute">
            <p>{{ text }}</p>
            <p>Bar or Line Chart that displays something else.</p>
          </div>
        </div>
      </section>
    </template>


<!----------------------------------------------------------------------------->
<!-- Issues -->
<!----------------------------------------------------------------------------->

    <template id="vue-issues-page">
      <h1>Issues - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
      </div>
    </template>

<!----------------------------------------------------------------------------->
<!-- Source -->
<!----------------------------------------------------------------------------->

    <template id="vue-source-page">
      <h1>Source - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
        <tree-view></tree-view>
      </div>
    </template>


    <template id="vue-tree-view">
      <ul class="tree-view">
        <tree-item :model="tree"></tree-item>
      </ul>
    </template>


    <template id="vue-tree-item">
      <li class="item">
        <div
          :class="{ bold: isFolder }"
          @click="toggle"
          @dblclick="changeType">
          {{ model.name }}
          <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
          <tree-item
            v-for="model in model.children"
            :model="model">
          </tree-item>
          <li class="add" @click="addChild">+</li>
        </ul>
      </li>
    </template>


<!----------------------------------------------------------------------------->
<!-- Nodes -->
<!----------------------------------------------------------------------------->

    <template id="vue-nodes-page">
      <h1>Nodes - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
      </div>
    </template>


<!----------------------------------------------------------------------------->
<!-- Runtime -->
<!----------------------------------------------------------------------------->

    <template id="vue-runtime-page">
      <h1>Runtime - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
      </div>
    </template>


<!----------------------------------------------------------------------------->
<!-- Template -->
<!----------------------------------------------------------------------------->

    <template id="vue-setup-component">
      <h1>{{ title }}</h1>
      <div>
        <p>{{ text }}</p>
      </div>
    </template>

<!----------------------------------------------------------------------------->
<!-- Scripts -->
<!----------------------------------------------------------------------------->

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="js/components/ui.js"></script>
    <script src="js/components/header.js"></script>
    <script src="js/components/dashboard.js"></script>
    <script src="js/components/issues.js"></script>
    <script src="js/components/source.js"></script>
    <script src="js/components/nodes.js"></script>
    <script src="js/components/runtime.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
