<!DOCTYPE html>
<!-- SPDX-License-Identifier: MIT -->
<!-- Copyright © 2023 André Santos -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />-->
    <title>HAROSviz</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <main id="app">
      <dashboard-header :crumbs="crumbs"></dashboard-header>
      <section class="content">
        <component
          ref="pageComponent"
          :is="currentPage"
          :title="title"
          :text="text">
        </component>
      </section>
      <p>Use Vue's
        <code>&lt;component :is="currentTab"&gt;</code>
        (name string of a registered component) to change between tabs/pages.
        The component will be unmounted when it is switched away from.
        We can force the inactive components to stay "alive" with the built-in
        <a href="https://vuejs.org/guide/built-ins/keep-alive.html" target="_blank">
          <code>&lt;KeepAlive&gt;</code> component
        </a>.
      </p>
      <p>For more complex routing see <a href="https://github.com/vuejs/router" target="_blank">the Vue Routing library</a>.</p>
    </main>


<!----------------------------------------------------------------------------->
<!-- Header -->
<!----------------------------------------------------------------------------->

    <template id="vue-dashboard-header">
      <header class="top-bar bg-solid">
        <h1>HAROSviz</h1>
        <!-- <nav class="menu">
          <ul>
            <li
              v-for="link in links"
              class="menu-item bg-soft"
            >
              <a :href="link.route">{{ link.text }}</a>
            </li>
          </ul>
        </nav> -->
        <nav class="crumbs">
          <ol>
            <li v-for="(crumb, index) in crumbs" class="crumb">
              <a v-if="index < crumbs.length - 1" :href="crumb.href">
                {{ crumb.name }}
              </a>
              <template v-else>
                {{ crumb.name }}
              </template>
            </li>
          </ol>
        </nav>
      </header>
    </template>


<!----------------------------------------------------------------------------->
<!-- Dashboard -->
<!----------------------------------------------------------------------------->

    <template id="vue-dashboard-page">
      <h1>Dashboard - {{ title }}</h1>
      <div class="panel-container">
        <a href="#issues">
          <info-panel title="Issues" :items="issues"></info-panel>
        </a>
        <a href="#source">
          <info-panel title="Source" :items="source"></info-panel>
        </a>
        <a href="#nodes">
          <info-panel title="Nodes" :items="nodes"></info-panel>
        </a>
        <a href="#runtime">
          <info-panel title="Runtime" :items="runtime"></info-panel>
        </a>
        <div class="panel large bg-mute">
          <div ref="chartContainer1" class="chart"></div>
        </div>
        <div class="panel large bg-mute">
          <div ref="chartContainer2" class="chart"></div>
        </div>
      </div>
    </template>


    <template id="vue-info-panel">
      <div class="panel stats bg-dynamic">
        <h3>{{ title }}</h3>
        <ul>
          <li v-for="item in items">
            <span class="number-badge">
              {{ item.quantity }}
            </span>
            <span :class="item.style || ''">
              {{ item.name }}
            </span>
          </li>
        </ul>
      </div>
    </template>


<!----------------------------------------------------------------------------->
<!-- Issues -->
<!----------------------------------------------------------------------------->

    <template id="vue-issues-page">
      <h1>Issues - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
        <issue-details
          v-for="(issue, i) in issues"
          :key="convertIndexNumber(i)"
          :message="issue.message"
          :location="issue.location"
          :details="issue.details">
        </issue-details>
      </div>
    </template>


    <template id="vue-issue-details">
      <div class="issue">
        <h3>#{{ issueNumber }} - {{ message }}</h3>
        <p class="annotation">{{ sourceLocationString }}</p>
        <p>{{ details }}</p>
      </div>
    </template>

<!----------------------------------------------------------------------------->
<!-- Source -->
<!----------------------------------------------------------------------------->

    <template id="vue-source-page">
      <h1>Source - {{ title }}</h1>
      <div class="panel bg-mute">
        <p>{{ text }}</p>
        <tree-view :tree="tree"></tree-view>
      </div>
    </template>


    <template id="vue-tree-view">
      <ul class="tree-view">
        <tree-item :model="tree"></tree-item>
      </ul>
    </template>


    <template id="vue-tree-item">
      <li class="item">
        <div
          class="emph"
          :class="{ bold: isFolder }"
          @click="toggle"
          @dblclick="changeType">
          <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          {{ model.name }}
          <span class="annotation">Issues: 654</span>
        </div>
        <ul v-show="isOpen" v-if="isFolder" class="tree-view">
          <tree-item
            v-for="model in model.children"
            :model="model">
          </tree-item>
        </ul>
      </li>
    </template>


<!----------------------------------------------------------------------------->
<!-- Nodes -->
<!----------------------------------------------------------------------------->

    <template id="vue-nodes-page">
      <h1>Nodes - {{ title }}</h1>
      <div class="node-model-viewer">
        <dropdown-menu
          ref="packageMenu"
          label="Package"
          :options="packageList"
          @option-selected="onPackageSelected">
        </dropdown-menu>
        <dropdown-menu
          ref="nodeMenu"
          label="Executable"
          :options="nodeList"
          @option-selected="onNodeSelected">
        </dropdown-menu>
        <div class="panel large bg-mute">
          <p v-if="!!selectedNode">
            We are viewing the model for the {{ selectedNode }} node.
          </p>
          <node-model-component :model="nodeModel">
          </node-model-component>
        </div>
      </div>
    </template>


    <template id="vue-node-model-component">
      <div ref="modelContainer"></div>
    </template>


<!----------------------------------------------------------------------------->
<!-- Runtime -->
<!----------------------------------------------------------------------------->

    <template id="vue-runtime-page">
      <h2>Runtime Model Viewer</h2>
      <div class="runtime-model-viewer">
        <div class="panel bg-mute">
          <h3>Launch Files</h3>
          <!-- <dropdown-menu
            ref="packageMenu"
            label="Package"
            :options="packageList"
            @option-selected="onPackageSelected">
          </dropdown-menu> -->
          <feature-model-component :model="fm" :tree="tree">
          </feature-model-component>
        </div>
        <div class="panel bg-mute">
          <h3>Computation Graph</h3>
          <computation-graph-component class="computation-graph" :model="cg">
          </computation-graph-component>
        </div>
      </div>
    </template>


    <template id="vue-feature-model-component">
      <div ref="featureModelContainer">
        <p>This is the Feature Model.</p>
        <tree-view :tree="tree"></tree-view>
      </div>
    </template>


    <template id="vue-computation-graph-component">
      <div class="action-bar" role="toolbar">
        <button @click="onZoomOut">-Zoom</button>
        <button @click="onZoomIn">+Zoom</button>
      </div>
      <p>
        Selected node:
        {{ !!selectedNode ? selectedNode.id : "none" }}
        <span v-if="!!selectedNode" class="annotation">
          {{ !selectedNode.condition ? "always on" : "conditional" }}
        </span>
      </p>
      <div ref="computationGraphContainer"></div>
    </template>


<!----------------------------------------------------------------------------->
<!-- Template -->
<!----------------------------------------------------------------------------->

    <template id="vue-dropdown-menu">
      <label class="dropdown-menu">{{ label }}:
        <select ref="dropdown" @change="onOptionSelected">
          <option value="" selected>---</option>
          <option v-for="option in options"
            :value="option.value">
            {{ option.name }}
          </option>
        </select>
      </label>
    </template>

    <template id="vue-setup-component">
      <h1>{{ title }}</h1>
      <div>
        <p>{{ text }}</p>
      </div>
    </template>

<!----------------------------------------------------------------------------->
<!-- Scripts -->
<!----------------------------------------------------------------------------->

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="js/components/ui.js"></script>
    <script src="js/components/chart.js"></script>
    <script src="js/components/node-model.js"></script>
    <script src="js/components/header.js"></script>
    <script src="js/components/dashboard.js"></script>
    <script src="js/components/issues.js"></script>
    <script src="js/components/source.js"></script>
    <script src="js/components/nodes.js"></script>
    <script src="js/components/runtime.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
