/* SPDX-License-Identifier: MIT */
/* Copyright © 2023 André Santos */

/*
  Sources for ideas:
  - https://github.com/Nik77x/HordeWatcher/blob/master/frontend/src/assets/base.scss
  - https://vuejsexamples.com/dashboard-for-managing-rally-discord-bot-built-using-vuejs-3/
*/

/*******************************************************************************
  General Styles
*******************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* position: relative; */
  font-weight: normal;
  /* user-select: none; */
}

html, body, main {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#app > .content {
  width: 100%;
  padding: .5em 1em;
  position: relative;
}


/*******************************************************************************
  Header Styles
*******************************************************************************/

header.top-bar {
  position: sticky;
  top: 0px;
  z-index: 1;
}


.menu > ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu > ul::before,
.menu > ul::after {
  content: "";
}

.menu-item {
  display: inline-block;
  flex: 1 1 auto;
  max-width: 20vw;
  /* margin: 0 5vw; */
  border-width: thin;
  border-style: solid;
}

.menu-item a {
  display: block;
  width: 100%;
  line-height: 2;
  color: inherit;
  text-align: center;
  text-decoration: none;
}


.crumbs > ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb:not(:last-child)::after {
  display: inline-block;
  content: '-';
  /* font-size: .75rem; */
  font-weight: bold;
  padding: 0 .25em;
}

.crumb a {
  color: inherit;
}


/*******************************************************************************
  Main Components
*******************************************************************************/

.panel-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(5em, auto);
  column-gap: 1em;
  row-gap: 1em;
}

.panel-container > a {
  color: inherit;
  text-decoration: none;
}

.panel {
  position: relative;
  height: 100%;
  padding: .5em;
  transition-property: height, width;
  transition-duration: 0.3s;
  overflow: hidden;
  /* box-shadow: 0px 2px 4px black; */
  border-width: medium;
  border-style: solid;
  border-radius: 4px;
}

.panel.large {
  grid-column: span 2;
  min-height: 10em;
}


.panel.stats {
  display: flex;
  flex-flow: column;
}

.stats > ul {
  list-style-type: none;
  padding-left: 1em;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*******************************************************************************
  Tree View
*******************************************************************************/

.tree-view {
  list-style-type: none;
  padding-left: 1em;
}

.tree-view .item {
  cursor: pointer;
  line-height: 1.5;
}

.tree-view .item .annotation {
  display: block;
  margin: 0;
  padding-left: .5em;
}


/*******************************************************************************
  Node Model Viewer Page
*******************************************************************************/

.node-model-viewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}


/*******************************************************************************
  Helper Components
*******************************************************************************/

.clickable {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}


.number-badge {
  float: right;
  padding-right: .5em;
}


.annotation {
  font-size: .75em;
}


.dropdown-menu {
  display: block;
}

.dropdown-menu > select {
  display: block;
  width: 100%;
}


/*******************************************************************************
  Colors
*******************************************************************************/

body {
  background-color: #ffffff;
  color: #2c3e50;
}

.bg-solid {
  background-color: #ffffff;
}

.bg-soft,
.bg-dynamic:hover {
  background-color: #f8f8f8;
}

.bg-mute,
.bg-dynamic {
  background-color: #f2f2f2;
}

* {
  border-color: rgba(60, 60, 60, 0.12);
}

*:hover {
  border-color: rgba(60, 60, 60, 0.29);
}

h1, h2, h3, h4 {
  color: #2c3e50;
}

.annotation {
  color: #9c9c9c;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
    color: rgba(235, 235, 235, 0.64);
  }

  .bg-solid {
    background-color: #181818;
  }

  .bg-soft,
  .bg-dynamic:hover {
    background-color: #222222;
  }

  .bg-mute,
  .bg-dynamic {
    background-color: #282828;
  }

  * {
    border-color: rgba(84, 84, 84, 0.48);
  }

  *:hover {
    border-color: rgba(84, 84, 84, 0.65);
  }

  h1, h2, h3, h4, .emph {
    color: #ffffff;
  }
}


/*******************************************************************************
  Scroll Bar
*******************************************************************************/

::-webkit-scrollbar {
  background-color: #161616;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  background-color: #3473ef;
  display: none;

}

::-webkit-scrollbar-corner {
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 50px;
  border: 3px solid #181818;

  &:hover {
    background-color: #1c3779;
  }

}
